{% load static %}

{% block activity %}

<div class="container" style="min-height: 88vh;">
	<p>{{activity.title}}</p>
	<p>{{activity.description}}</p>
	<p>{{activity.currentUsers}} / {{activity.maxUsers}}</p>
	<!--
  <div class="input-group h-100">
    <input type="text" class="form-control" style="width: 20vw;" placeholder="Search Activities/Sports" aria-label="Search">
    <div class="input-group-append">
			<button class="btn btn-secondary text-decoration-none" style="width: 4vw;" type="button"><i class="fa fa-search"></i></button>
    </div>
	</div>
	-->
</div>

{% endblock activity %}