{% load static %}

{% block change_password %}

<div style="min-height: 84vh; background-size: cover; background-image: url({% static 'img/profile_bg.jpg' %});">
  <div style="padding-top: 2vh;"></div>
  <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); margin: 0;">
  <p style="font-size: 22px; text-align: center; margin: 0; color: #ccc;">Change Password</p>
  <hr style="height: 12px; border: 0; box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5); margin: 0;">
  <div class="container" style="margin-left: auto; margin-right: auto;">
    <div class="mid-box" style="padding-top: 2vh; margin-left: auto; margin-right: auto;">
      <form action="" method="POST"> {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-4"></div>
          <div class="form-group col-4">
            <label class="ml-1" style="color: #ccc;">Current Password</label>
            <input class="form-control" type="password" name="currentPwd" placeholder="Enter your current password">
          </div>
          <div class="form-group col-4"></div>
        </div>
        <div class="form-row">
          <div class="form-group col-4"></div>
          <div class="form-group col-4">
            <label class="ml-1" for="currentPwd" style="color: #ccc;">New Password</label>
            <input class="form-control" type="password" name="newPwd" placeholder="Enter your new password">
          </div>
          <div class="form-group col-4"></div>
        </div>
        <div class="form-row">
          <div class="form-group col-4"></div>
          <div class="form-group col-4">
            <label class="ml-1" for="currentPwd" style="color: #ccc;">New Password Confirmation</label>
            <input class="form-control" type="password" name="newPwdSec" placeholder="Confirm your new password">
          </div>
          <div class="form-group col-4"></div>
        </div>
        <div class="form-row">
          <div class="form-group col-4" style="margin-top: 2%;"></div>
          <div class="form-group col-4" style="margin-top: 2%;">
            <div class="row justify-content-center">
              <div class="col">
                <button class="btn btn-secondary btn-block text-decoration-none" type="submit">
                  Change Password
                </button>
              </div>
            </div>         
          </div>
        </div>
        <div style="width: 25vw; height: 5vh; margin: auto;">
          {% if messages %}
            {% for message in messages %}
              <div class="text-center" style="color: red">{{ message }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock change_password %}