{% load static %}

{% block main %}

<div style="min-height: 84vh; background-size: cover; background-image: url({% static 'img/main_bg.jpg' %});">
  <div class="container">
    <div class="pt-4 pb-1">
      <div style="width: 25vw; height: 10vh; margin-left: auto; margin-right: auto;">
        <h5 style="text-align: center; color: white;">Search Activities / Sports</h5>
        <form action="" method="POST"> {% csrf_token %}
          <div class="input-group" style="width: 20vw; margin: auto; position: relative;">
            <input name="search_box" type="text" class="form-control" style="width: 16vw; border-radius: 0px;" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary text-decoration-none" style="width: 4vw; border-radius: 0px;" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>  
    </div>

    <div style="width: 25vw; height: 5vh; margin: auto;">
      {% if messages %}
        {% for message in messages %}
          <div class="text-center" style="color: coral">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="mt-1 pb-4" style="border: 1px solid; border-color: #ccc; border-radius: 20px;">
      <h3 class="mt-4" style="text-align: center; color: white;">My Upcoming Activities</h3>
      {% if exist %}
    
        {% for activity, tags, rating in activities_tags_ratings %}
          {% include "../cards/activity_card.html" with activity=activity tags=tags rating=rating %}
          {% block activity_card %}
          {% endblock activity_card %}
        {% endfor %}

      {% else %}

        <h6 class="mt-4 mb-3" style="text-align: center; color: white">No upcoming activities!</h6>

      {% endif %}
      <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
          <button class="mt-2 mb-3 btn btn-secondary btn-block text-decoration-none" type="button" onclick="location.href='{% url "post_activity" %}'">
            Post New Activity
          </button>
        </div>
        <div class="col-5"></div>
      </div>
    </div>
    <div class="pb-3"></div>
  </div>
</div>

{% endblock main %}