{% load static %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand text-light" href="/"><i class="fa fa-home"></i> Find Me An Athlete</a>
      </ul>
			<ul class="navbar-nav ml-auto">
				<div class="input-group">
					<a href="{% url 'profile' request.user.username %}" class="nav-link" style="width: 6vw;">My Profile <i class="fa fa-user-circle"></i></a>
				</div>
			  <div class="input-group">
          <a href="{% url 'logout' %}" class="nav-link" style="width: 6vw;">Logout <i class="fa fa-sign-out"></i></a>
        </div>
      </ul>
    </div>
  </div>
</nav>

{% endblock navbar %}