{% load static %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <a class="navbar-brand text-light mr-auto" href="/">Find Me An Athlete</a>
			<ul class="navbar-nav mx-auto ml-5 align-middle">
				
			</ul>
			<ul class="navbar-nav ml-auto">
				<div class="input-group">
					<a href="{% url 'settings' %}" class="nav-link" style="width: 5.5vw;">Settings <i class="fa fa-cog"></i></a>
				</div>
			  <div class="input-group">
          <a href="{% url 'logout' %}" class="nav-link" style="width: 5.5vw;">Logout <i class="fa fa-sign-out"></i></a>
        </div>
      </ul>
    </div>
  </div>
</nav>

{% endblock navbar %}