{% load static %}

{% block password_reset_confirm %}

{% load crispy_forms_tags %}  

<div style="min-height: 100vh; background-image: url({% static 'img/login_bg.jpg' %}); background-size: cover; background-attachment: fixed;">
  <div class="logbox" style="height: 50%;">
    <h1 class="paragraph" style="text-indent: 15%; margin-top:20px;">Find Me</h1>
    <h1 class="paragraph" style="text-indent: 35%; border-bottom: 1px silver solid; padding: 0 0 20px 0;">An Athlete</h1>
    <p style="margin-left: 2.5vw; margin-right: 2.5vw; margin-top: 1.5vh; margin-bottom: 2.5vh; text-align: justify;">Enter your new password:</p>
    <form method="POST"> {% csrf_token %}

      <p style="text-indent: 20%; margin-bottom: 5px;">Password</p>
      <input class="formbox" style="margin: 0px auto; display: block;" type="password" name="new_password1" id="id_new_password1">
      <p style="text-indent: 20%; margin-top: 15px; margin-bottom: 5px;">Confirm Password</p>
      <input class="formbox" style="margin: 0px auto; display: block;" type="password" name="new_password2" id="id_new_password2">

      <div class="col text-center" style="margin-bottom: -1vh;">
        <button type="submit" style="text-decoration: none; width: 50%;" class="btn btn-primary btn">Change Password</button>
      </div>

    </form>
    {% if messages %}
      {% for message in messages %}
        <div style="margin-top: 15px;" class="text-center text-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock password_reset_confirm %}