{% load static %}

{% block post_course %}

<div class="pt-2" style="min-height: 84vh; background-size: cover; background-image: url({% static 'img/tutor_bg.jpg' %});">
  <div class="container pt-2" style="border: 1px solid; border-color: grey; border-radius: 20px; background-color: grey;">
    <h3 class="pt-4 pl-5" style="text-align: left;">Post New Course</h3>
    <form action="" method="post"> {% csrf_token %}
      <br>
      <h5 class="pl-5 ml-2">Course Title</h5>
      <input style="width: 25vw;" class="ml-5 px-2 py-1" type="text" name="title" placeholder="Enter course title" maxlength="100">
      <br>
      <br>
      <h5 class="pl-5 ml-2">Course Description</h5>
      <textarea class="ml-5 px-2 pt-1" style="width: 25vw; height: 20vh; resize: none;" type="text" name="description" placeholder="Enter course description" maxlength="500"></textarea>
      <br>
      <br>
      <input type="submit" style="text-decoration: none;" class="ml-5 btn btn-secondary" value="Post the course">
      {% if messages %}
        {% for message in messages %}
          <p class="ml-5 text-danger" style="padding-top: 0.75vh;">{{ message }}</p>
        {% endfor %}
      {% else %}
        <div style="margin-bottom: 5vh;"></div>
      {% endif %}
    </form>
  </div>
</div>

{% endblock post_course %}