{% load static %}

{% block search %}

<div class="container" style="min-height: 88vh;">
  <div class="pt-4 pb-1">
    <div class="mt-1 mb-4" style="border: 1px solid; border-color: #ccc; border-radius: 20px;">
      <h3 class="mt-4" style="text-align: center;">Search Results</h3>

        {% if exist %}
        
          {% for activity, tags in activities_tags %}
            {% include "../cards/activity_card.html" with activity=activity tags=tags %}
            {% block activity_card %}
            {% endblock activity_card %}
          {% endfor %}

        {% else %}

          <h6 class="mt-4" style="text-align: center;">No results found!</h6>

        {% endif %}
      <div class="pb-4"></div>
    </div>
  </div>
</div>

{% endblock search %}